.master_container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container{
    display: grid;
    grid-template-columns: 200px 4fr 3fr;
    grid-auto-rows: max-content;
    border: 1px solid black;
    background-color: #fc80a587;
    margin: 5px 10px;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.image_container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.text_container{
margin-right: 8px;
font-weight: 900;
display: flex;
flex-direction: column;
justify-content: center;
}
.price{
    color: red;
}

.image{
    height: 100px;
    margin-right: 10px;
}
.controls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.controls>button{
    box-shadow: 0px 0px 1px gray;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 5px;
    background-color: #fc80a5;
    color: aliceblue;
    font-weight: 900;
    font-size: larger;
}
.total, .empty{
    text-align: center;
    border: 1px solid black;
    background-color: #fc80a587;
    margin: 20px;
    font-weight: 900;
    font-size: xx-large;
}