@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.marquee_image {
    width: 80px;
    margin: 0px 20px;
}

.discount {
    background-color: green;
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: "Oswald";
    font-size: large;
    position: sticky;
    top:93px;
    z-index: 1000;
}

h1 {
    font-family: "Oswald";
}

.ad_div {
    height: 600px;
}

.ad_div>img {
    border-radius: 10px;
    overflow-x: scroll;
}

.carousel_section {
    position: relative;
}

.separator{
     border-bottom: 2px solid rgb(144, 144, 144);
}

.shop_now {
    background-color: #fc80a5;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    height: fit-content;
    width: fit-content;
    margin-inline: auto;
    color: black;
    border-radius: 10px;
    z-index: 1000;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    font-weight: 100;
    box-shadow: 0px 0px 10px 5px black ;
    transition: background-color 0.2s ease-in-out;
}

.shop_now:hover{
background-color: #ffa8c2;
}