html,
body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  background-color: pink;
  justify-content: space-between;
}

button {
  font-size: large;
  background-color: pink;
  color: white;
  cursor: pointer;
  padding: 0px 20px;
  border: none;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 900;
}

button:hover {
  background-color: gray;
}

button:active {
  background-color: rgb(72, 72, 72);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
}