@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

header {
  display: flex;
  background-color: #fc80a5;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-in-out;
  padding: 10px;
}

.title-div {
  font-size: 48px;
  font-family: "Style Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

footer{
  background-color: #fc80a5;
  font-size: larger;
  padding-bottom: 1rem;
  text-align: center;
  font-family: sans-serif;
}