@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

html,
body,
#root {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
  min-height: 100dvh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  background-color: #fc80a5;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px black;
  transition: text-shadow 0.2s ease-in-out;
  padding: 10px;
}

.shop, .cart{
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.453));
  transition: filter 0.2s ease-in-out;
}
.shop:hover, .cart:hover{
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.409));
}

.title-div {
  font-size: 48px;
  font-family: "Style Script", cursive;
  text-align: center;
  font-weight: 100;
  text-shadow: 1px 1px 10px black;
  transition: text-shadow 0.2s ease-in-out;
}

.title-div:hover {
  text-shadow: 1px 1px 20px black;
}
.cart-div{
position: relative;
}
.cart-count{
  position: absolute;
  top:-60%;
  right: 10%;
  background-color: red;
  border-radius: 20px;
  font-weight: 900;
  padding: 0px 10px;
  font-family: sans-serif;
}

footer {
  background-color: #fc80a5;
  font-size: larger;
  padding-bottom: 1rem;
  text-align: center;
  font-family: sans-serif;
}