.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-content: center;
    margin: 10px;
    font-family: sans-serif;
}

.card_container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
    padding: 5px 10px;
    transition: transform 0.3s ease-in-out;
}

.card_container:hover {
    transform: translate(0px, -5px);
}

.image_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.title,
.price,
.rating {
    margin-left: 10px;
}

.text_section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
    font-weight: 900;
}

.price {
    color: red;
    font-weight: 900;

}

.image {
    width: 100%;
}

.rating {
    color: gold
}

.cart_options_container {
    width: fit-content;
    border-radius: 20px;
    font-weight: 900;
    font-size: larger;
}

.cart_options_container>button {
    background-color: #fc80a5;
    box-shadow: 0px 0px 5px gray;
    border: none;
    border-radius: 10px;
    font-size: large;
    padding: 0px 10px;
    margin: 0px 5px;
    font-weight: 900;
    color: white;
    text-shadow: 0px 0px 2px black;
    transition: background-color 0.1s ease-in
}

.cart_options_container>button:hover {
    background-color: #ff9ebb;
}

.cart_options_container>button:active {
    background-color: #773b4d;
}